.device-card {
    width: 150px;
    /*height: 200px;*/
    margin: 5px;
}

/* .device-layout {
    display: flex;
    flex-wrap: wrap;
} */

.card-footer {
    font-size: 8px;
}

.example-margin {
    margin: 5px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 12px;
    color: white;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
